Application/BatchSelectService/BatchSelectService/Service References/SLMMasterService/MasterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MasterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.3.112.46/SlmMasterService/MasterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.3.112.46/SlmMasterService/MasterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.3.112.46/SlmMasterService/MasterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MTM.MasterService.Request" />
      <xsd:import schemaLocation="http://10.3.112.46/SlmMasterService/MasterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MTM.MasterService.Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CallSlmBatchRequest">
    <wsdl:part name="parameters" element="tns:CallSlmBatchRequest" />
  </wsdl:message>
  <wsdl:message name="CallSlmBatchRequest_Headers">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="CallSlmBatchResponse">
    <wsdl:part name="parameters" element="tns:CallSlmBatchResponse" />
  </wsdl:message>
  <wsdl:message name="CallSlmBatchResponse_Headers">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:portType name="IMasterService">
    <wsdl:operation name="CallSlmBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/CallSlmBatch" name="CallSlmBatchRequest" message="tns:CallSlmBatchRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/CallSlmBatchResponse" name="CallSlmBatchResponse" message="tns:CallSlmBatchResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMasterService" type="tns:IMasterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallSlmBatch">
      <soap:operation soapAction="http://tempuri.org/IMasterService/CallSlmBatch" style="document" />
      <wsdl:input name="CallSlmBatchRequest">
        <soap:header message="tns:CallSlmBatchRequest_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CallSlmBatchResponse">
        <soap:header message="tns:CallSlmBatchResponse_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MasterService">
    <wsdl:port name="BasicHttpBinding_IMasterService" binding="tns:BasicHttpBinding_IMasterService">
      <soap:address location="http://10.3.112.46/SlmMasterService/MasterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>