Application/BatchSelectService/BatchSelectService/Service References/SLMMasterService/MasterService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.3.112.46/SlmMasterService/MasterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MTM.MasterService.Request" />
  <xs:import schemaLocation="http://10.3.112.46/SlmMasterService/MasterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MTM.MasterService.Shared" />
  <xs:element name="CallSlmBatchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MTM.MasterService.Request" minOccurs="0" name="Body" nillable="true" type="q1:CallSlmBatchRequestBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MTM.MasterService.Shared" name="Header" nillable="true" type="q2:Header" />
  <xs:element name="CallSlmBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MTM.MasterService.Shared" minOccurs="0" name="ResponseStatus" nillable="true" type="q3:ResponseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>