Application/CSM/CSM.ScheduledTask/Service References/CSMMailService/CSMMailService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.kiatnakinbank.com/services/CSM/CSMMailService" elementFormDefault="qualified" targetNamespace="http://www.kiatnakinbank.com/services/CSM/CSMMailService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5300/CSMMailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.SchedTask" />
  <xs:element name="GetMailbox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailboxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.SchedTask" minOccurs="0" name="GetMailboxResult" nillable="true" type="q1:JobTaskResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>