Application/CSM/CSM.Web/Service References/DoNotCallBatchService/DoNotCallBatchProcess1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.202.104.51/DoNotCallService/DoNotCallBatchProcess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.DoNotCall" />
  <xs:element name="ExportFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.DoNotCall" minOccurs="0" name="requet" nillable="true" type="q1:ExportFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.DoNotCall" minOccurs="0" name="ExportFileResult" nillable="true" type="q2:ExportFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportFileToTOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.DoNotCall" minOccurs="0" name="request" nillable="true" type="q3:ExportFileToTotRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportFileToTOTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.DoNotCall" minOccurs="0" name="ExportFileToTOTResult" nillable="true" type="q4:ExportFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>