Application/CSM/CSM.Web/Service References/DoNotCallBatchService/DoNotCallBatchProcess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://10.202.104.51/DoNotCallService/DoNotCallBatchProcess.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://10.202.104.51/DoNotCallService/DoNotCallBatchProcess.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.202.104.51/DoNotCallService/DoNotCallBatchProcess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.DoNotCall" />
      <xsd:import schemaLocation="http://10.202.104.51/DoNotCallService/DoNotCallBatchProcess.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDoNotCallBatchProcess_ExportFile_InputMessage">
    <wsdl:part name="parameters" element="ExportFile" />
  </wsdl:message>
  <wsdl:message name="IDoNotCallBatchProcess_ExportFile_OutputMessage">
    <wsdl:part name="parameters" element="ExportFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDoNotCallBatchProcess_ExportFileToTOT_InputMessage">
    <wsdl:part name="parameters" element="ExportFileToTOT" />
  </wsdl:message>
  <wsdl:message name="IDoNotCallBatchProcess_ExportFileToTOT_OutputMessage">
    <wsdl:part name="parameters" element="ExportFileToTOTResponse" />
  </wsdl:message>
  <wsdl:portType name="IDoNotCallBatchProcess">
    <wsdl:operation name="ExportFile">
      <wsdl:input wsaw:Action="urn:IDoNotCallBatchProcess/ExportFile" message="IDoNotCallBatchProcess_ExportFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:IDoNotCallBatchProcess/ExportFileResponse" message="IDoNotCallBatchProcess_ExportFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportFileToTOT">
      <wsdl:input wsaw:Action="urn:IDoNotCallBatchProcess/ExportFileToTOT" message="IDoNotCallBatchProcess_ExportFileToTOT_InputMessage" />
      <wsdl:output wsaw:Action="urn:IDoNotCallBatchProcess/ExportFileToTOTResponse" message="IDoNotCallBatchProcess_ExportFileToTOT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>