Application/CSM/CSM.Web/Service References/DoNotCallBatchService/DoNotCallBatchProcess.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.DoNotCall" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.DoNotCall" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.202.104.51/DoNotCallService/DoNotCallBatchProcess.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" />
  <xs:complexType name="ExportFileRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" minOccurs="0" name="Header" nillable="true" type="q1:Header" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportFileRequest" nillable="true" type="tns:ExportFileRequest" />
  <xs:complexType name="ExportFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExportDataCount" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" minOccurs="0" name="Header" nillable="true" type="q2:Header" />
      <xs:element minOccurs="0" name="ResultStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportFileResponse" nillable="true" type="tns:ExportFileResponse" />
  <xs:complexType name="ExportFileToTotRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExecuteTime" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" minOccurs="0" name="Header" nillable="true" type="q3:Header" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportFileToTotRequest" nillable="true" type="tns:ExportFileToTotRequest" />
</xs:schema>