Application/CSM/CSM.Service/Service References/CentralizeOperationCenterService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.3.112.46/CentralizeOperationCenterService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.3.112.46/CentralizeOperationCenterService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.3.112.46/CentralizeOperationCenterService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COCS.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceRequest">
    <wsdl:part name="parameters" element="tns:ServiceRequest" />
  </wsdl:message>
  <wsdl:message name="ServiceRequest_Headers">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="ServiceResponse">
    <wsdl:part name="parameters" element="tns:ServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceResponse_Headers">
    <wsdl:part name="ResponseHeader" element="tns:ResponseHeader" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="RetrieveLead">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RetrieveLead" name="ServiceRequest" message="tns:ServiceRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RetrieveLeadResponse" name="ServiceResponse" message="tns:ServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetLeadListByEmpCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLeadListByEmpCode" name="ServiceRequest" message="tns:ServiceRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLeadListByEmpCodeResponse" name="ServiceResponse" message="tns:ServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveLead">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReceiveLead" name="ServiceRequest" message="tns:ServiceRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveLeadResponse" name="ServiceResponse" message="tns:ServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetAvailableUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetAvailableUser" name="ServiceRequest" message="tns:ServiceRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetAvailableUserResponse" name="ServiceResponse" message="tns:ServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="SearchLead">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SearchLead" name="ServiceRequest" message="tns:ServiceRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SearchLeadResponse" name="ServiceResponse" message="tns:ServiceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveLead">
      <soap:operation soapAction="http://tempuri.org/IService/RetrieveLead" style="document" />
      <wsdl:input name="ServiceRequest">
        <soap:header message="tns:ServiceRequest_Headers" part="RequestHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ServiceResponse">
        <soap:header message="tns:ServiceResponse_Headers" part="ResponseHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeadListByEmpCode">
      <soap:operation soapAction="http://tempuri.org/IService/GetLeadListByEmpCode" style="document" />
      <wsdl:input name="ServiceRequest">
        <soap:header message="tns:ServiceRequest_Headers" part="RequestHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ServiceResponse">
        <soap:header message="tns:ServiceResponse_Headers" part="ResponseHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveLead">
      <soap:operation soapAction="http://tempuri.org/IService/ReceiveLead" style="document" />
      <wsdl:input name="ServiceRequest">
        <soap:header message="tns:ServiceRequest_Headers" part="RequestHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ServiceResponse">
        <soap:header message="tns:ServiceResponse_Headers" part="ResponseHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAvailableUser">
      <soap:operation soapAction="http://tempuri.org/IService/SetAvailableUser" style="document" />
      <wsdl:input name="ServiceRequest">
        <soap:header message="tns:ServiceRequest_Headers" part="RequestHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ServiceResponse">
        <soap:header message="tns:ServiceResponse_Headers" part="ResponseHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLead">
      <soap:operation soapAction="http://tempuri.org/IService/SearchLead" style="document" />
      <wsdl:input name="ServiceRequest">
        <soap:header message="tns:ServiceRequest_Headers" part="RequestHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ServiceResponse">
        <soap:header message="tns:ServiceResponse_Headers" part="ResponseHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://10.3.112.46/CentralizeOperationCenterService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>