Application/CSM/CSM.Service/Service References/CentralizeOperationCenterService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.3.112.46/CentralizeOperationCenterService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COCS.Service" />
  <xs:element name="ServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/COCS.Service" name="RequestHeader" nillable="true" type="q1:Header" />
  <xs:element name="ServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResponseXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/COCS.Service" name="ResponseHeader" nillable="true" type="q2:Header" />
</xs:schema>