Application/CSM/CSM.Web/Service References/SendNotificationSvc/SendNotification51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>