Application/CSM/CSM.Web/Service References/SendNotificationSvc/SendNotification53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_ININ_SendNotification" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_ININ_SendNotification" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MESSAGE_DETAIL">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHEQUE_NO_FROM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHEQUE_NO_TO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FROM_ACCOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMBER_OF_CHEQUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_NO1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_NO2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESERVE_FIELD1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESERVE_FIELD2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESERVE_FIELD3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESERVE_FIELD4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESERVE_FIELD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TO_ACCOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TO_ACCOUNT_BANK_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_DATE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MESSAGE_DETAIL" nillable="true" type="tns:MESSAGE_DETAIL" />
</xs:schema>