Application/CSM/CSM.Web/Service References/SendNotificationSvc/SendNotification52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KK.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KK.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYSTEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Header" nillable="true" type="tns:Header" />
</xs:schema>