Application/CSM/CSM.ScheduledTask/Service References/CSMFileService/CSMFileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.kiatnakinbank.com/services/CSM/CSMFileService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CSMFileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.kiatnakinbank.com/services/CSM/CSMFileService" location="http://localhost:5300/CSMFileService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ICSMFileService" type="i0:ICSMFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileAFS">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileAFS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportFileAFS">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/ExportFileAFS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportFileNCB">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/ExportFileNCB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileBDW">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileBDW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileCIS">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileCIS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileHP">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileHP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSMFileService">
    <wsdl:port name="BasicHttpBinding_ICSMFileService" binding="tns:BasicHttpBinding_ICSMFileService">
      <soap:address location="http://localhost:5300/CSMFileService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>