Application/CSM/CSM.ScheduledTask/Service References/CSMFileService/CSMFileService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.kiatnakinbank.com/services/CSM/CSMFileService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.kiatnakinbank.com/services/CSM/CSMFileService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.kiatnakinbank.com/services/CSM/CSMFileService/Imports">
      <xsd:import schemaLocation="http://localhost:5300/CSMFileService.svc?xsd=xsd0" namespace="http://www.kiatnakinbank.com/services/CSM/CSMFileService" />
      <xsd:import schemaLocation="http://localhost:5300/CSMFileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5300/CSMFileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.SchedTask" />
      <xsd:import schemaLocation="http://localhost:5300/CSMFileService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5300/CSMFileService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICSMFileService_GetFileAFS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileAFS" />
  </wsdl:message>
  <wsdl:message name="ICSMFileService_GetFileAFS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileAFSResponse" />
  </wsdl:message>
  <wsdl:message name="ICSMFileService_ExportFileAFS_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportFileAFS" />
  </wsdl:message>
  <wsdl:message name="ICSMFileService_ExportFileAFS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportFileAFSResponse" />
  </wsdl:message>
  <wsdl:message name="ICSMFileService_ExportFileNCB_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportFileNCB" />
  </wsdl:message>
  <wsdl:message name="ICSMFileService_ExportFileNCB_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportFileNCBResponse" />
  </wsdl:message>
  <wsdl:message name="ICSMFileService_GetFileBDW_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBDW" />
  </wsdl:message>
  <wsdl:message name="ICSMFileService_GetFileBDW_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBDWResponse" />
  </wsdl:message>
  <wsdl:message name="ICSMFileService_GetFileCIS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileCIS" />
  </wsdl:message>
  <wsdl:message name="ICSMFileService_GetFileCIS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileCISResponse" />
  </wsdl:message>
  <wsdl:message name="ICSMFileService_GetFileHP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileHP" />
  </wsdl:message>
  <wsdl:message name="ICSMFileService_GetFileHP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileHPResponse" />
  </wsdl:message>
  <wsdl:portType name="ICSMFileService">
    <wsdl:operation name="GetFileAFS">
      <wsdl:input wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileAFS" message="tns:ICSMFileService_GetFileAFS_InputMessage" />
      <wsdl:output wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileAFSResponse" message="tns:ICSMFileService_GetFileAFS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportFileAFS">
      <wsdl:input wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/ExportFileAFS" message="tns:ICSMFileService_ExportFileAFS_InputMessage" />
      <wsdl:output wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/ExportFileAFSResponse" message="tns:ICSMFileService_ExportFileAFS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportFileNCB">
      <wsdl:input wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/ExportFileNCB" message="tns:ICSMFileService_ExportFileNCB_InputMessage" />
      <wsdl:output wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/ExportFileNCBResponse" message="tns:ICSMFileService_ExportFileNCB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileBDW">
      <wsdl:input wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileBDW" message="tns:ICSMFileService_GetFileBDW_InputMessage" />
      <wsdl:output wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileBDWResponse" message="tns:ICSMFileService_GetFileBDW_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileCIS">
      <wsdl:input wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileCIS" message="tns:ICSMFileService_GetFileCIS_InputMessage" />
      <wsdl:output wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileCISResponse" message="tns:ICSMFileService_GetFileCIS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileHP">
      <wsdl:input wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileHP" message="tns:ICSMFileService_GetFileHP_InputMessage" />
      <wsdl:output wsaw:Action="http://www.kiatnakinbank.com/services/CSM/CSMFileService/ICSMFileService/GetFileHPResponse" message="tns:ICSMFileService_GetFileHP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>