Application/CSM/CSM.Web/Service References/DoNotCallBatchSelectService/DoNotCallBatchSelectService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.202.104.51/BatchSelectService/DoNotCallBatchSelectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BatchSelectService.Message" />
  <xs:element name="ExecuteBatchSelectService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteBatchSelectServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BatchSelectService.Message" minOccurs="0" name="ExecuteBatchSelectServiceResult" nillable="true" type="q1:DoNotCallBatchSelectServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>