Application/CSM/CSM.Web/Service References/DoNotCallBatchSelectService/DoNotCallBatchSelectService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BatchSelectService.Message.SMG" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BatchSelectService.Message.SMG" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SMGResponseStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMGResponseStatus" nillable="true" type="tns:SMGResponseStatus" />
</xs:schema>