Application/CSM/CSM.Web/Service References/CSMSRService/CSMSRService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.SchedTask" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.SchedTask" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5300/CSMSRService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" />
  <xs:complexType name="CreateSrFromReplyEmailTaskResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ElapsedTime" type="xs:long" />
      <xs:element minOccurs="0" name="NumOfComplete" type="xs:int" />
      <xs:element minOccurs="0" name="NumOfError" type="xs:int" />
      <xs:element minOccurs="0" name="NumOfTotal" type="xs:int" />
      <xs:element minOccurs="0" name="SchedDateTime" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" minOccurs="0" name="StatusResponse" nillable="true" type="q1:StatusResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateSrFromReplyEmailTaskResponse" nillable="true" type="tns:CreateSrFromReplyEmailTaskResponse" />
  <xs:complexType name="ReSubmitActivityToCARSystemTaskResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ElapsedTime" type="xs:long" />
      <xs:element minOccurs="0" name="NumOfComplete" type="xs:int" />
      <xs:element minOccurs="0" name="NumOfError" type="xs:int" />
      <xs:element minOccurs="0" name="NumOfTotal" type="xs:int" />
      <xs:element minOccurs="0" name="SchedDateTime" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" minOccurs="0" name="StatusResponse" nillable="true" type="q2:StatusResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReSubmitActivityToCARSystemTaskResponse" nillable="true" type="tns:ReSubmitActivityToCARSystemTaskResponse" />
  <xs:complexType name="ReSubmitActivityToCBSHPSystemTaskResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ElapsedTime" type="xs:long" />
      <xs:element minOccurs="0" name="NumOfComplete" type="xs:int" />
      <xs:element minOccurs="0" name="NumOfError" type="xs:int" />
      <xs:element minOccurs="0" name="NumOfTotal" type="xs:int" />
      <xs:element minOccurs="0" name="SchedDateTime" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" minOccurs="0" name="StatusResponse" nillable="true" type="q3:StatusResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReSubmitActivityToCBSHPSystemTaskResponse" nillable="true" type="tns:ReSubmitActivityToCBSHPSystemTaskResponse" />
  <xs:complexType name="ExportSRTaskResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ElapsedTime" type="xs:long" />
      <xs:element minOccurs="0" name="NumOfActivity" type="xs:int" />
      <xs:element minOccurs="0" name="SchedDateTime" type="xs:dateTime" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" minOccurs="0" name="StatusResponse" nillable="true" type="q4:StatusResponse" />
      <xs:element minOccurs="0" name="TaskAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportSRTaskResponse" nillable="true" type="tns:ExportSRTaskResponse" />
</xs:schema>